*.diff
*.patch
*.orig
*~
*%
*.class

autom4te.cache
config.cache

# ignore core files, but not java/net/protocol/core/
core
!core/

Makefile.in
aclocal.m4
configure
INSTALL
compile
install-sh
missing
mdate-sh
stamp-*
doc/version.texi

